@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0;
  padding: 0;
  font-family: Exo, sans-serif;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  background-color: chartreuse;
}

.home {
  position: relative;
  background-color: grey;
  min-height: calc(100vh - 60px);
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
  color: #000000;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.home h2 {
  display: flex;
  justify-content: center;
  color: #000000;
}

.home__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

@media (max-width: 350px) {
  .home__container {
    justify-content: unset;
  }
}

.paleta-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  .paleta-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .paleta-list {
    grid-template-columns: 1fr;
  }
}

.paleta-card-item,
.paleta-list-item {
  background: #ffffff4d;
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  justify-content: space-around;
}

.paleta-card-item {
  height: 150px;
  width: 100%;
}

@media (max-width: 400px) {
  .paleta-card-item,
  .paleta-list-item {
    width: 210px;
    height: 180px;
  }
}

.paleta-card-item > div,
.paleta-list-item > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.paleta-card-item-sabor,
.paleta-list-item-sabor {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}

.paleta-card-item-descricao,
.paleta-list-item-descricao {
  font-size: 0.85em;
}

.paleta-card-item-preco,
.paleta-list-item-preco {
  color: orangered;
  font-weight: 700;
}

.paleta-list-item-foto {
  height: 150px;
}

.paleta-escolhida-espaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

#search-input {
  padding: 0.5rem;
  width: 315px;
  border: none;
  border-radius: 0.2rem;
  border: 2px solid #fff;
  outline: none;
  font-size: 1rem;
}

.search-button {
  background-color: transparent;
  border: 2px solid orangered;
  padding: 0.5rem;
  color: white;
  font-weight: 600;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  text-align: center;
}
.search-button:hover {
  background-color: orange;
  color: #ffffff;
}

/*#idPaleta {
  padding: 0.5rem;
  width: 315px;
  border: none;
  border-radius: 0.2rem;
}*/

.default-button {
  background-color: transparent;
  border: 2px solid chartreuse;
  padding: 0.4rem;
  color: black;
  font-weight: 600;
  border-radius: 0.2rem;
  width: 180px;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
}

.default-button:hover {
  background-color: chartreuse;
  color: black;
}

/*#paleta-escolhida-input-espaco {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}*/

.header {
  max-width: 1110px;
  margin: 0 auto 25px auto;
  position: relative;
}
@media (max-width: 1220px) {
  .header {
    max-width: 720px;
  }
}

@media (max-width: 840px) {
  .header {
    max-width: 320px;
  }
}

@media (max-width: 400px) {
  .header {
    max-width: 250px;
  }
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 35px 0;
}

.row {
  column-gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #ffffff4d;
  width: 340px;
  height: 45px;
}

.logo-title {
  position: absolute;
  left: 55px;
  font-weight: 700;
  font-size: 2.5rem;
}

.logo-title {
  font-size: 1.5em;
}

.logo-icon {
  position: absolute;
  left: -20px;
  top: -15px;
}

.modal-overlay {
  background-color: #00000050;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.modal {
  margin: 1rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 300px;
  background-color: grey;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: chartreuse;
  padding: 1rem;
}

.close-modal {
  text-decoration: none;
  font-size: 1.5rem;
  transform: scale(0.7);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.close-modal:hover {
  transform: scale(1);
}

.modal-body {
  padding: 0.5rem 1rem;
}

.modal-body div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body div input,
textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 0.8rem;
  outline: none;
  border: solid 1px chartreuse;
  margin-bottom: 0.4rem;
  border-radius: 0.3rem;
}

.modal-body div button {
  padding: 0.5rem;
  width: 30%;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border: solid 1px chartreuse;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-body div button:hover {
  background-color: #00b309;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 25px auto;
  max-width: 1110px;
}

.msg-alert {
  text-align: center;
  z-index: 999999;
  font-weight: 600;
}

.success {
  background-color: antiquewhite;
  color: green;
  border: solid 1px darkgreen;
  padding: 0.8rem;
  border-radius: 0.3rem;
}

.danger {
  background-color: red;
  color: black;
  border: solid 1px darkred;
  padding: 0.8rem;
  border-radius: 0.3rem;
}

.actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
}

.btn {
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  max-width: 280px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;

  transition: all 0.3s ease-in-out;
}

.actions-edit {
  color: black;
  background-color: transparent;
}

.actions-edit:hover {
  color: black;
  background-color: chartreuse;
}

.actions-delete {
  color: black;
  background-color: transparent;
}

.actions-delete:hover {
  color: black;
  background-color: orangered;
}

.modal-body-delete {
  display: flex;
  flex-wrap: wrap;
}
.modal-body-delete p {
  width: 100%;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.btns-delete {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btn-delete {
  background-color: transparent;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  width: 30%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-delete-no {
  color: black;
  border: solid 1px chartreuse;
}

.btn-delete-no:hover {
  background-color: chartreuse;
  color: black;
}

.btn-delete-yes {
  color: black;
  border: solid 1px orangered;
}

.btn-delete-yes:hover {
  background-color: orangered;
  color: black;
}

.list-all {
  text-decoration: none;
  text-align: center;
  display: none;
  margin-right: 1rem;
}

.btns-list-cad {
  display: flex;
}
